.course-grades {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    input.course-name {
      width: 263px;
      border: 1px solid #86a8e0;
      height: 38px
    }

    .line {
      width: 30px;
      height: 1px;
      background-color: #86a8e0;
      top: 18px;
      position: relative;
    }

    input.grade {
      width: 70px;
      height: 38px;
      border: 1px solid #86a8e0;
    }

    .add-grade,
    .remove-grade {
      cursor: pointer;

      i {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        color: #fff;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7px;
      }
    }

    .add-grade {
      i {
        background-color: #86a8e0;
        font-size: 11px;
      }
    }

    .remove-grade {
      i {
        background-color: #ec3335;
        font-size: 11px;
      }
    }
  }
}
